body {
	background: url(product.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: sans-serif;
}

table.prodTable{		
	margin-left: auto;
	margin-right: auto;
}

td {
	padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
}

img {
	width: 200px;
	height: 300px;
}

h4 {
	text-align: center;
}

label {
	margin-left: 45px;
}

button {
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;		
	border-radius: 12px;
	
}

button.clear {
	color: white;
	background-color: red;
	margin-left: absolute;
}

button.goto {
	color: white;
	background-color: blue;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 100px;

}
